//- layout jade
doctype html
html
  head
      title My site - #{title}
      block script
        script(src='../js/a.js')
  body
    block content
    block foot
      #footer
        p some footer content