include ../variables/var
doctype html
head
  meta(charset='utf-8')
  meta(name="copyright", content="")
  meta(name="revisit-after", content="1 days")
  meta(name="author", content="Leopold,zhangxin")
  title= title

body
  block page-body