<!--[if IE 8]>
<html lang="em" class="lt-ie9">
<![endfi]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!-- [endfi]-->
block page-body
  //
    just some paragraphs
  p foo
  p bar
  //- just some paragraphs
  p foo
  p bar